.DS_Store

# Local environment
.venv/
.idea/

# Python and Jupyter artifacts
__pycache__/
*.py[cod]
*.cache
.ipynb_checkpoints/

# Downloaded model weights
src/*.pt

# Generated training artifacts
/data/tmp/*
!/data/tmp/.gitkeep
/runs/
data/input/images/*
!data/input/images/.gitkeep
data/input/labels/*
!data/input/labels/.gitkeep

# Exported models
dist/*
!dist/.gitkeep
